<?php
  
/**
 * Configuration for database connection
 *
 */

$host       = "{{ mysql_ip }}";
$username   = "appadmin";
$password   = "adminpass";
$dbname     = "test";
$dsn        = "mysql:host=$host;dbname=$dbname";
$options    = array(
                PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
              );